{% extends 'app/base/default.html' %}
{% load static %}

{% block inner_content %}
    <div class="container pt-lg-4 pt-2">
        <div class="row justify-content-center">
            <div>
                <div class="row py-0 align-items-center">
                    <div class="col">
                        <h4 class="p-0 m-0">Rooms</h4>
                    </div>
                    {% if user.is_superuser %}
                        <div class="col-auto">
                            <div class="row gx-1">
                                <div class="col-auto">
                                    <a href="{% url 'room:add' %}?next={{ current_url|urlencode }}" class="btn btn-success">Add Room</a>
                                </div>
                                <div class="col-auto">
                                    <a href="{% url 'room:delete_all' %}?next={{ current_url|urlencode }}" class="btn btn-danger">Delete All</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <div class="table-responsive">

                    <table class="table caption-top table-hover">
                        <caption class="visually-hidden">List of rooms</caption>
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Amenities</th>
                                <th scope="col" class="text-nowrap">Price (per day)</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Unavailable dates</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room, reservations in rooms %}
                                <tr>
                                    <td scope="row">
                                        <img class="object-fit-cover" style="cursor: pointer;" src="{{ room.image.url }}" height="75" width="100" alt="" data-bs-toggle="modal" data-bs-target="#modal-{{ room.pk }}">
                                        <div class="modal fade" id="modal-{{ room.pk }}" tabindex="-1" aria-labelledby="modal-title-1" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-bodt">
                                                        <img class="object-fit-cover h-100 w-100 rounded" src="{{ room.image.url }}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ room.name }}
                                    </td>
                                    <td>
                                        {{ room.get_type_display }}
                                    </td>
                                    <td>
                                        {% if user.is_superuser %}
                                            {% for amenity in room.amenities.all %}
                                                <span>
                                                    <!-- Adds a comma if current amenity is not the last in the list -->
                                                    <a href="{% url 'amenity:update' amenity.pk %}?next={{ current_url|urlencode }}">
                                                        {{ amenity.name }}
                                                    </a>
                                                    {% if not forloop.last %}, {% endif %}
                                                </span>
                                            {% empty %}
                                                <span>
                                                    No amenities added
                                                </span>
                                            {% endfor %}
                                        {% else %}
                                            {% for amenity in room.amenities.all %}
                                                <span>
                                                    <!-- Adds a comma if current amenity is not the last in the list -->
                                                    {{ amenity.name }}{% if not forloop.last %}, {% endif %}
                                                </span>
                                            {% empty %}
                                                <span>
                                                    No amenities added
                                                </span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap">
                                        {{ room.get_price_display }}
                                    </td>
                                    <td>
                                        {{ room.get_capacity_display }}
                                    </td>
                                    <td>
                                        {% for reservation in reservations %}
                                            {% if user.is_superuser %}
                                                <div class="text-nowrap">
                                                    <a href="{% url 'room:reservation:view' reservation.pk %}">
                                                        {{ reservation.date_bookfrom }} - {{ reservation.date_bookuntil }}
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="text-nowrap">
                                                    {{ reservation.date_bookfrom }} - {{ reservation.date_bookuntil }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="row justify-content-center gx-2 px-2 gy-2 flex-wrap flex-md-nowrap">
                                            <div class="col-auto">
                                                <a href="{% url 'room:view' room.pk %}" class="btn btn-success" title="Reserve Room: {{ room.name }}">
                                                    <i class="fa-solid fa-eye"></i>
                                                    View
                                                </a>
                                            </div>
                                            {% if user.is_superuser %}
                                                <div class="col-auto">
                                                    <a href="{% url 'room:update' room.pk %}?next={{ current_url|urlencode }}" class="btn btn-secondary title="Update Room: {{ room.name }}">
                                                        <i class="fa-solid fa-pen"></i>
                                                        <span class="visually-hidden">Update</span>
                                                    </a> 
                                                </div>
                                                <div class="col-auto">
                                                    <a href="{% url 'room:delete' room.pk %}?next={{ current_url|urlencode }}" class="btn btn-danger" title="Delete Room: {{ room.name }}">
                                                        <i class="fa-solid fa-trash"></i>
                                                        <span class="visually-hidden">Delete</span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock%}