{% extends 'app/base/default.html' %}
{% load static %}

{% block inner_content %}
    <div class="container pt-lg-4 pt-2">
        <div class="row justify-content-center">
            <div class="">
                <div class="row py-0 align-items-center">
                    <div class="col">
                        <h4 class="p-0 m-0">Amenities</h4>
                    </div>
                    <div class="col-auto">
                        <div class="row gx-1">
                            <div class="col-auto">
                                <a href="{% url 'amenity:add' %}?next={{ current_url|urlencode }}" class="btn btn-success">Add new amenity</a>
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'amenity:delete_all' %}?next={{ current_url|urlencode }}" class="btn btn-danger">Delete all amenities</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <table class="table caption-top table-hover table-responsive">
                    <caption class="visually-hidden">List of amenities</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Fee</th>
                            <th scope="col" class="specific-w-150 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for amenity in amenities %}
                            <tr>
                                <td>{{ amenity.name }}</td>
                                <td>{{ amenity.get_fee_display }}</td>
                                <td>
                                    <div class="row gx-2 gy-2 p-0 justify-content-center">
                                        <div class="col-auto">
                                            <a class="btn btn-sm m-0 btn-success" href="{% url 'amenity:update' amenity.pk %}?next={{ current_url|urlencode }}">Update</a> 
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-sm m-0 btn-danger" href="{% url 'amenity:delete' amenity.pk %}?next={{ current_url|urlencode }}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock%}