{% extends 'app/base/base_default.html' %}
{% load static %}
{% load widget_tweaks %}

{% block inner_content %}
    <div class="container-fluid">
        <div class="row justify-content-center pt-lg-4 pt-md-2 pt-0">
            <div class="col-lg-3 col-md-6">
                <form method="POST" novalidate>
                    {% csrf_token %}

                    <div class="mb-3">
                        <button type="button" onclick="history.back()" class="btn px-0">
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <i class="fa-solid fa-angle-left"></i>
                                </div>
                                <div class="col-auto">
                                    Return
                                </div>
                            </div>
                        </button>
                    </div>

                    {% if title %}
                        <div class="mb-3 text-center">
                            <h4>{{ title|title }}</h4>
                        </div>
                    {% endif %}

                    {% if description %}
                        <div class="mb-3 text-center">
                            <span class="fst-italic text-body-secondary">{{ description }}</span>
                        </div>
                    {% endif %}

                    {% if form %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% block form %}
                        {% endblock %}
                    {% else %}
                    {% endif %}

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success w-100">
                            {{ button_message }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}