{% extends 'app/base/base_empty.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="container-fluid min-vh-100 m-0 p-0 overflow-hidden">
        <div class="row">
            <div class="col p-0">
                <div class="row py-2 px-4">
                    <a href="{% url 'app-index' %}" class="btn w-auto">
                        <div class="col g-2">
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <i class="fa-solid fa-hotel"></i>
                                </div>
                                <div class="col-auto">
                                    Resho
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="row h-100 justify-content-center">
                    <div class="col-auto w-lg-50 h-auto">
                        {% block form %}
                        {% endblock form %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="carousel-example-2" class="carousel slide min-vh-100 h-100" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-example-2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-example-2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel-example-2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel-example-2" data-bs-slide-to="3" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner h-100">
                        <div class="carousel-item active h-100">
                            <img src="{% static 'images/hotel-1330850_1280.jpg' %}" class="object-fit-cover h-100 w-100" alt="First slide">
                        </div>
                        <div class="carousel-item h-100">
                            <img src="{% static 'images/hotel-595121_1280.jpg' %}" class="object-fit-cover h-100 w-100" alt="Second slide">
                        </div>
                        <div class="carousel-item h-100">
                            <img src="{% static 'images/indoors-4234071_1280.jpg' %}" class="object-fit-cover h-100 w-100" alt="Third slide">
                        </div>
                        <div class="carousel-item h-100">
                            <img src="{% static 'images/inner-space-1026452_1280.jpg' %}" class="object-fit-cover h-100 w-100" alt="Third slide">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-example-2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-example-2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
