{% extends 'app/base/empty.html' %}
{% load static %}
{% load widget_tweaks %}
    
{% block content %}
    <div class="containuer-fluid">
        <div class="container">
            <div class="row d-flex justify-content-between flew-column flex-sm-row py-2 align-items-center">
                <div class="col-auto px-1 px-sm-0">
                    <a href="{% url 'app-index' %}" class="btn w-auto">
                        <div class="col g-2">
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <i class="fa-solid fa-hotel"></i>
                                </div>
                                <div class="col-auto">
                                    Resho
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-auto">
                    <div class="row">
                        
                        <form action="" method="GET" class="col-auto">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-auto px-1 px-sm-0">
                    <div class="row gx-1">
                        <div class="col-auto">
                            <a href="{% url 'app-index' %}" class="btn me-2">Home</a>
                        </div>

                        {% if user.is_superuser %}
                            <div class="col-auto">
                                <a href="{% url 'amenity:index' %}" class="btn me-2">Amenities</a>
                            </div>
                        {% endif %}
                        <div class="col-auto">
                            <a href="{% url 'room:index' %}" class="btn me-2">Rooms</a>
                        </div>
                        {% if not user.is_superuser %}
                            <div class="col-auto">
                                <div class="btn me-2">Reservations</div>
                            </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <img class="object-fit-cover rounded-circle" width="20" height="20"
                                            src="{{ user.profile.image.url }}" alt="bagpipe">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><h6 class="dropdown-header">{{ request.user.username }}</h6></li>
                                        <li><a href="{% url 'profile:index' request.user.profile.pk %}" class="dropdown-item">Profile</a></li>
                                        <li><a href="#" class="dropdown-item">Settings</a></li>
                                        <li><a href="{% url 'auth:signout' %}" class="dropdown-item">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-auto">
                                <a class="btn btn-primary" href="{% url 'auth:signin' %}?prev={{ request.build_absolute_uri|urlencode }}&next={{ request.build_absolute_uri|urlencode }}">
                                    Login
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main style="min-height: 75dvh;">
        <!-- Where we will insert other pages contents -->
        {% block inner_content %}
        {% endblock inner_content %}
    </main>

    <footer class="container-fluid py-5 bg-dark text-white">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <div class="row gx-4">
                        <div class="col-auto">
                            <i class="fa-solid fa-hotel"></i>
                        </div>
                        <div class="col-auto">
                            <div class="row gx-3">
                                <div class="col-auto">About us</div>
                                <div class="col-auto">Terms & Condition</div>
                                <div class="col-auto">Contact</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row gx-4">
                        <div class="col-auto">Our socials</div>
                        <div class="col-auto">
                            <div class="row gx-3">
                                <div class="col-auto"><i class="fa-brands fa-github"></i></div>
                                <div class="col-auto"><i class="fa-brands fa-x-twitter"></i></div>
                                <div class="col-auto"><i class="fa-brands fa-facebook"></i></div>
                                <div class="col-auto"><i class="fa-brands fa-bluesky"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}