{% extends 'app/base/base_auth.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form %}
    {% if form %}
        <script src="{% static 'js/toggle_password_visibility.js' %}"></script>

        <form method="post" class="mt-4">
            {% csrf_token %}

            <div class="text-center">
                <i class="fa-solid fa-hotel fs-4"></i>
            </div>
            <div class="mb-3 text-center">
                <h4>Create new password</h4>
            </div>
        
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        
            <div class="mb-3">
                <label for="{{ form.new_password1.id_for_label }}" class="form-label">
                    New Password
                </label>
                <div class="input-group">
                    {% if form.new_password1.errors or form.errors %}
                        {{ form.new_password1|add_class:"is-invalid form-control"|attr:"placeholder:example@domain" }}
                    {% elif not form.new_password1.errors and request.method == "POST" %}
                        {{ form.new_password1|add_class:"is-valid form-control"|attr:"placeholder:example@domain" }}
                    {% else %}
                        {{ form.new_password1|add_class:"form-control"|attr:"placeholder:example@domain" }}
                    {% endif %}

                    <button type="button" class="input-group-text"
                        onclick="togglePasswordVisiblity('{{ form.new_password1.id_for_label }}', '{{ form.new_password1.id_for_label }}_icon')">
                        <i id="{{ form.new_password1.id_for_label }}_icon" class="fa-solid fa-eye"></i>
                    </button>

                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>


                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        
            <div class="mb-3">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">
                    Confirm new password
                </label>
                <div class="input-group">
                    {% if form.new_password2.errors or form.errors %}
                        {{ form.new_password2|add_class:"is-invalid form-control"|attr:"placeholder:example@domain" }}
                    {% elif not form.new_password2.errors and request.method == "POST" %}
                        {{ form.new_password2|add_class:"is-valid form-control"|attr:"placeholder:example@domain" }}
                    {% else %}
                        {{ form.new_password2|add_class:"form-control"|attr:"placeholder:example@domain" }}
                    {% endif %}

                    <button type="button" class="input-group-text"
                        onclick="togglePasswordVisiblity('{{ form.new_password2.id_for_label }}', '{{ form.new_password2.id_for_label }}_icon')">
                        <i id="{{ form.new_password2.id_for_label }}_icon" class="fa-solid fa-eye"></i>
                    </button>

                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
        
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">
                    Set new password
                </button>
            </div>
        </form>
    {% else %}
        <div class="mt-4">
            <div class="text-center">
                <i class="fa-solid fa-hotel fs-4"></i>
            </div>
            <div class="mb-3 text-center">
                <h4>Password reset link invalid</h4>
            </div>
            <div class="mb-3">
                <div class="alert alert-danger">
                    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                </div>
            </div>
            <div class="mb-3">
                <a href="{% url 'password-reset' %}" type="submit" class="btn btn-primary w-100">
                    Request a new link
                </a>
            </div>
            <div class="mb-3">
                <a href="{% url 'app-signin' %}" type="submit" class="btn btn-secondary w-100">
                    Back to login page
                </a>
            </div>
        </div>
    {% endif %}
{% endblock%}