{% extends 'app/base/base_auth.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form %}
    <div class="mb-3">
        <button type="button" onclick="history.back()" class="btn px-0">
            <div class="row gx-2">
                <div class="col-auto">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="col-auto">
                    Return
                </div>
            </div>
        </button>
    </div>
    <div class="text-center">
        <i class="fa-solid fa-hotel fs-4"></i>
    </div>
    <div class="mb-3 text-center">
        <h4>Password reset succesfully!</h4>
    </div>
    <div class="mb-3">
        <a href="{% url 'auth:signin' %}" type="submit" class="btn btn-primary w-100">
            Back to login page
        </a>
    </div>
{% endblock%}