{% extends 'app/base/base_auth.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form %}
    <form method="post" novalidate>
        {% csrf_token %}

        <div class="mb-3">
            <button type="button" onclick="history.back()" class="btn px-0">
                <div class="row gx-2">
                    <div class="col-auto">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="col-auto">
                        Return
                    </div>
                </div>
            </button>
        </div>
        <div class="text-center">
            <i class="fa-solid fa-hotel fs-4"></i>
        </div>
        <div class="mb-3 text-center">
            <h4>Password reset</h4>
        </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">
                Your email
            </label>

            {% if form.email.errors or form.errors %}
                {{ form.email|add_class:"is-invalid form-control"|attr:"placeholder:example@domain" }}
            {% elif not form.email.errors and request.method == "POST" %}
                {{ form.email|add_class:"is-valid form-control"|attr:"placeholder:example@domain" }}
            {% else %}
                {{ form.email|add_class:"form-control"|attr:"placeholder:example@domain" }}
            {% endif %}

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">
                Confirm email
            </button>
        </div>
    </form>
{% endblock%}